.allTabs{
  text-align:center;}
.tab {
  display:inline-block;
}
.tab label {
  background: white;
  padding: 10px;
  position: relative;
}
.tab [type=radio] {
  display: none;
}
[type=radio]:checked ~ label {
  background: white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
.link-tab a {
      color: black;
      font-family: Cuprum, Verdana, Arial, sans-serif;
      font-size: 1.5em;
      text-decoration: none;
      border-bottom: 4px solid #DADEDE;
      }
.link-tab a:hover {
      border-bottom: 4px solid blue;
      }

body {
    margin: 10px;
}
#wrapper{
  margin-top: 0px;
  text-align: left;
}
h1 {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url("http://gdurl.com/ZYu4");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-color: #DADEDE;
  border-radius: 4px;
	  font-family: Cuprum, Verdana, Arial, sans-serif;
	  font-size: 4em;
	  font-weight: 600;
  text-align: center;
  color: #0000FF;
  line-height: 70px;
}
h2 {
  border-radius: 4px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Cuprum, Verdana, Arial, sans-serif;
  font-size: 2em;
	  font-weight: 600;
  background-color: blue;
  background-size: contain;
  color: white;
  display: inline-block;
  margin-top: 10px;
}
h3{
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Cuprum, Verdana, Arial, sans-serif;
  font-size: 1.5em;
	font-weight: 500;
}
.lesson{
  background-color: #DADEDE;
  background-size: cover;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}
.description{
  font-family: Cuprum, Verdana, Arial, sans-serif;
  font-size: 1em;
}
